.hero {
    background-position: center;
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.bannerTitle {
    position: absolute;
    top: 33% !important;
    left: 8% !important;
    color: #fff;
    font-size: 5rem;
}
